@page
@model MegaDesk3.Pages.DeskQuotes.IndexModel

@{
	ViewData["Title"] = "Index";
}

<h1 class="font-accent">Manage Quotes</h1>

<p>
	<a asp-page="Create" class="btn">Create New Quote</a>
</p>
<form>
    <input type="search" class="input--text" />
    <button type="submit" class="btn" title="Search"><i class="fas fa-search"></i></button>
</form>

<table class="quote-table">
	<thead>
		<tr>
            <th class="clickable">
                @Html.DisplayNameFor(model => model.DeskQuote[0].CustomerName)
                <i class="fas fa-sort-down quote-table__icons"></i>
            </th>
			<th>
				@Html.DisplayNameFor( model => model.DeskQuote[0].RushOrderType )
			</th>
			<th>
				@Html.DisplayNameFor( model => model.DeskQuote[0].Desk.Depth )
			</th>
			<th>
				@Html.DisplayNameFor( model => model.DeskQuote[0].Desk.Width )
			</th>
			<th>
				@Html.DisplayNameFor( model => model.DeskQuote[0].Desk.NumberOfDrawers )
			</th>
			<th>
				@Html.DisplayNameFor( model => model.DeskQuote[0].Desk.SurfaceMaterial )
			</th>
			<th>
				@Html.DisplayNameFor( model => model.DeskQuote[0].QuotePrice )
			</th>
			<th class="clickable">
				@Html.DisplayNameFor( model => model.DeskQuote[0].Date )
                <i class="fas fa-sort-down quote-table__icons"></i>
            </th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach ( var item in Model.DeskQuote )
		{
		<tr>
			<td>
				@Html.DisplayFor( modelItem => item.CustomerName )
			</td>
			<td>
				@Html.DisplayFor( modelItem => item.RushOrderType )
			</td>
			<td>
				@Html.DisplayFor( modelItem => item.Desk.Depth )
			</td>
			<td>
				@Html.DisplayFor( modelItem => item.Desk.Width )
			</td>
			<td>
				@Html.DisplayFor( modelItem => item.Desk.NumberOfDrawers )
			</td>
			<td>
				@Html.DisplayFor( modelItem => item.Desk.SurfaceMaterial.Name )
			</td>
			<td>
				@Html.DisplayFor( modelItem => item.QuotePrice )
			</td>
			<td>
				@Html.DisplayFor( modelItem => item.Date )
			</td>
			<td>
				<a asp-page="./Edit" asp-route-id="@item.DeskQuoteId" class="icon--edit" title="Edit Quote"><i class="fas fa-edit"></i></a> |
				<a asp-page="./Details" asp-route-id="@item.DeskQuoteId" class="icon--detail" title="Quote Details"><i class="fas fa-info-circle"></i></a> |
				<a asp-page="./Delete" asp-route-id="@item.DeskQuoteId" class="icon--delete" title="Delete Quote"><i class="fas fa-trash-alt"></i></a>
			</td>
		</tr>
		}
	</tbody>
</table>
